@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap');

body {
    background: url("img/background.jpeg") no-repeat fixed center; /* Links to your background image, which you can also replace with a URL. */
    background-size: cover; /* Image covers page. */
    text-align: center;
    color: white; /* Text color. */
    font-family: 'Avenir', sans-serif; /* Font: sans-serif included in case browser doesn't support first option. */
}

h1 {
    font-size: 6vw;
    font-family: 'Maven Pro', sans-serif;
    transition: all 1s;
    letter-spacing: 0.5vw;
}

h1:hover{
    transition: all 1s;
    text-shadow: 1px 1px #d3d3d3,
        2px 2px #b2b2b2,
        4px 4px #8d8d8d,
        6px 6px #606060,
        8px 8px #424242,
        10px 10px #1f1f1f,
        12px 12px black;
}

h2 {
    font-size: 2vw;
    font-family: 'Maven Pro', sans-serif;
    letter-spacing: 0.5vw;
}

/* This just centers the header container vertically on the page. */
.container-fluid {
    height: auto;
    width: 100%;

    position: absolute;
    top: 24vh;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/* Styling for icons. */
.fa {
    color: white;
    margin: 10px 5px;
    font-size: 3em !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}


.button {
    display: block;
    border-radius: 4px;
    font-family: 'Maven Pro', sans-serif;
    border: none;
    text-align: left;
    font-size: 2vw;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
    width: 12.5vw;
    transition: all 0.5s;
    cursor: pointer;
    margin: 3px 3px 3px 2vw;
}

.button span {
    cursor: pointer;
    display: block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.lottie{
    margin: 0 auto;
}